* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "rubiks", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fdf2e9;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
}

#omnifood-logo {
  width: 130.81px;
  height: 17.56px;
  margin-left: 40px;
}

/* #omnifood-logo {
  width: 30%;
}

#menu-items {
  width: 70%;
  float: right;
} */

.menu-item {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.2s ease-in;
}

.menu-item:hover {
  color: #e67e22;
}

.tff-btn {
  background-color: #e67e22;
  padding: 10px;
  color: #fdf2e9;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  border: 1px solid;
}

.tff-btn:hover {
  background-color: #fdf2e9;
  border: 1px solid #e67e22;
}

section {
  display: flex;
  width: 100%;
  /* height: 700px; */
  margin-top: 80px;
  background-color: #fdf2e9;
  padding: 20px;
}

#hero {
  width: 50%;
}

#headline {
  font-size: 50px;
  width: 80%;
  margin: auto;
  color: #333333;
  margin-bottom: 40px;
  text-align: left;
}

#summary {
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 60px;
  font-size: 20px;
  color: #555555;
}

#three-images {
  width: 50%;
  height: 90%;
}

#hero-png {
  width: 100%;
  height: 100%;
}

#hyperlink {
  width: 80%;
  display: flex;

  margin: auto;
}

#hyperlink > a:first-of-type {
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}

#hyperlink > a:first-of-type:hover {
  color: black;
}

.learn-more {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #e67e22;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.learn-more:hover {
  background-color: #fdf2e9;

  color: #e67e22;
}

#customers {
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customer-img {
  width: 50px;
  height: 50px;

  margin-left: -15px;
  border: 3px solid #fdf2e9;
  border-radius: 40px;
}

.cust-img {
  margin-right: 10px;
}

.stat {
  font-weight: 600;
  text-transform: capitalize;
}

span.num {
  color: #e67e22;
}

#website {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

#rec-header {
  font-size: 16px;
  font-weight: 400;
  width: 140px;
  letter-spacing: 0.5px;
  margin: auto;
  color: #888;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

img.business-insider {
  width: 90.7px;
  height: 28.1px;
}

img.forbes {
  width: 110px;
  height: 28.8px;
}

img.tech-crunch {
  width: 203px;
  height: 28.8px;
}

img.tnyt {
  width: 219px;
  height: 28.8px;
}

img.usa-today {
  width: 154.06px;
  height: 28.8px;
}

#how-it-works {
  margin-top: 50px;
}

.section-header {
  color: #e67e22;
  font-size: 18px;
  margin-left: 60px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  margin-bottom: 20px;
  letter-spacing: 0.5;
}

.section-header:nth-of-type(1) {
  text-align: center;
}

.section-headline {
  color: #333;
  letter-spacing: 1;
  margin-left: 60px;
  font-size: 36px;
}

.section-headline:nth-of-type(1) {
  text-align: center;
}

#step {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.step-text {
  width: 40%;
}

.step-number {
  color: #ddd;
  margin-bottom: 15px;
  font-size: 70px;
}

.step-header {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

.step-details {
  color: #555555;
  font-family: "rubiks", sans-serif;
  line-height: 1.8;
}

.step-image {
  width: 50%;
}

.step-image > img {
  width: 171px;
  height: 346px;
  /* margin: auto; */
  margin-left: 30%;
}

#AI-selections {
  display: flex;
  justify-content: space-between;
  width: 90%;

  margin: auto;
  margin-top: 40px;
}

.diet {
  width: 30%;
  border-radius: 11px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.image > img {
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  height: 208px;
}

.veggie-text {
  width: 230px;
  margin: auto;
  text-align: center;
}

.veggie {
  background-color: #51cf66;
  color: #333;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 90px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.veggie-header {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 230px;
  margin: 30px auto;
}

.vegan {
  color: #333;
  background-color: #94d82d;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 70px;
  /* margin: 20px; */
}

.paleo {
  color: #333;
  background-color: #ffd43b;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 70px;
  margin-left: 10px;
  /* margin: 20px; */
}

.veggie-details {
  color: #555;
  font-size: 16px;
  margin: auto;
  width: 200px;
  margin-bottom: 22px;
}

#recipes-link {
  color: #e67e22;
  font-size: 20px;
  text-decoration: underline;
  width: 200px;
  font-weight: 500;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  transition: text-decoration 0.5s ease-in-out;
}

#recipes-link:hover {
  text-decoration: none;
  cursor: pointer;
}

#testimony-gallery-wrapper {
  display: flex;
  background-color: #fdf2e9;
  padding-top: 100px;
  padding-bottom: 100px;
}

#testimony {
  width: 45%;
  margin: auto;
}

#testimony > h1 {
  margin: 0;
  text-align: left;
}

#testimony > p {
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
}

#gallery {
  width: 40%;
  margin: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* #gallery img {
 
} */

.img {
  /* border: 1px solid red; */
  overflow: hidden;
  width: 150px;
  margin-top: 10px;
  height: 150px;
}

.img img {
  width: 150px;
  height: 150px;
  transition: all 0.3s;
}

.img img:hover {
  width: 160px;
  height: 160px;
}

/* #gallery img:hover {
  width: 31%;
} */

#testimonies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#testimonies .testimony {
  margin-top: 30px;
  width: 35%;
}

#testimonies img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimony p {
  color: #888;
  font-weight: 200;
  line-height: 1.7;
  letter-spacing: 0.7px;
}

#pricing {
  width: 100%;
  margin-top: 30px;
}

div.pricing-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

/* #best-value {
  position: relative;
  background-color: yellow;
  padding: 10px;
  text-transform: uppercase;
  left: 120px;
 top: 15px; 
  transform: rotate(45deg);

   width: 100px;
  text-align: right; 
} */

ul.pricing-details > li {
  list-style-type: none;
  padding: 15px;
}

li.f66 {
  color: #6f6f6f;
}

li.b555 {
  color: #555555;
}

.price-one {
  padding: 40px;
  border-radius: 20px;
  border: 3px solid #fdf2e9;
}

.price-one li:first-of-type {
  color: #e67e22;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 17px;
}

.price-one li:nth-of-type(2) {
  margin-bottom: 20px;
}

.price-two li:first-of-type {
  color: #e67e22;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 17px;
}

.price-two li:nth-of-type(2) {
  margin-bottom: 20px;
}

.price-two {
  padding: 40px;
  overflow: hidden;

  background-color: #fdf2e9;
  border-radius: 20px;
}

#pricing p.section-header {
  text-align: left;
}

h1.price {
  font-size: 50px;
}

span.dolz {
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

#pricing h1.section-headline {
  width: fit-content;
  margin-bottom: 30px;
}

input.SEW {
  padding: 10px 20px;
  background-color: #e67e22;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  color: white;
}

input.SEW:hover {
  cursor: pointer;
  background-color: #ff7b0f;
}

p.tax-details {
  color: #6f6f6f;
  width: 500px;

  margin: 40px auto;
}

#what-we-offer {
  display: flex;
  width: 90%;
  /* align-items: center; */
  justify-content: space-around;
  margin: auto;
}

div.why-us {
  width: 23%;

  padding: 5px;
}

p.reason-header {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

p.reason {
  font-weight: 400;
  color: #555;
}

#sign-up-form {
  display: flex;

  width: 90%;
  /* height: 450px; */
  margin: 80px auto;

  /* margin-top: 80px; */
  background-color: #fe9f4b;
  border-radius: 15px;
}

#form-part {
  width: 65%;
  padding: 50px;
}

#form-image {
  width: 100%;
  /* opacity: 0.7; */
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

p.form-header {
  color: #45260a;
  font-size: 32px;
  margin-bottom: 28px;
  font-weight: 600;
}

p.form-text {
  color: #45260a;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-bottom: 43px;
}

form {
  color: #45260a;
}

#first-line {
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
  margin-bottom: 30px;
}

.name-email {
  width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 0;
}

p.input-name-header,
p.email-header {
  margin-bottom: 15px;
}

#second-line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: flex-end;
}

#option-select {
  width: 250px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  outline: none;
  border: 0;
}

#form-sign-up-btn {
  width: 250px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  outline: none;
  background-color: #45260a;
  color: white;
  font-weight: 600;
  border: 0;
}

#image-part {
  /* background-image: url("img/eating.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  width: 35%;
  /* height: 450px; */
}

footer {
  display: flex;
  border-top: 0.5px solid #eee;
  justify-content: space-around;
  /* align-items: center; */
  padding: 60px 0;
  line-height: 1;

  color: #555;
  font-weight: 400;
  margin: auto;
}

#left-footer-part {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.left-footer-details {
  width: 40%;
}

p.copyright {
  margin-top: 100px;
  color: #767676;
  font-size: 12.6px;
}

p.footer-sub-header {
  margin-bottom: 25px;
  font-size: 16.4px;
  color: #000;
}

#address {
  margin-bottom: 25px;
}

#right-footer-part {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.right-footer-details {
  width: 30%;
}

span > img {
  width: 147px;
  height: 20px;
}

#address,
#phone-number,
#email-address {
  font-size: 12.6px;
  color: #767676;
}

#address,
#phone-number {
  margin-top: 45px;
}

ul.sub-header-items > li {
  list-style-type: none;
  margin: 20px 0;
  font-size: 12.6px;
  color: #767676;
}

/*media query for tablet and mobile device */

@media screen and (max-width: 900px) {
  .menu-item {
    display: none;
  }

  #omnifood-logo {
    margin: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    /* margin-bottom: 420px; */
    background-color: #fdf2e9;
    padding: 20px;
  }

  #headline {
    font-size: 35px;
  }

  #hyperlink > a:first-of-type {
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    display: inline;
    /* background-color: #e67e22; */
  }

  #hero {
    width: 100%;
    margin-bottom: 40px;
  }

  #three-images {
    width: 70%;
    margin: auto;
  }

  #website {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  img.business-insider {
    width: 90.7px;
    height: 28.1px;
    margin: 10px auto 20px auto;
  }

  img.forbes {
    width: 110px;
    height: 28.8px;
    margin: 20px auto;
  }

  img.tech-crunch {
    width: 203px;
    height: 28.8px;
    margin: 20px auto;
  }

  img.tnyt {
    width: 230px;
    height: 40.8px;
    margin: 20px auto;
  }

  img.usa-today {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section-headline {
    width: 90%;
    margin: auto;
  }

  .section-header {
    margin-left: 0;
    margin-top: 20px;
  }

  .diet {
    margin-bottom: 30px;
  }

  #step {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-between; */
    /* margin-left: 60px; */
    width: 80%;
    margin: auto;
    margin-top: 60px;
  }

  .col {
    flex-direction: column;
  }

  .col-rev {
    flex-direction: column-reverse;
  }

  .step-text {
    width: 100%;
  }

  .step-image {
    margin: auto;
    width: 41%;
  }

  .step-image > img {
    margin: auto;
    margin-bottom: 25px;
  }

  #AI-selections {
    display: flex;
    flex-direction: column;

    width: 80%;

    margin: auto;
    margin-top: 40px;
  }

  .diet {
    width: 100%;
    /* border-radius: 11px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out; */
  }

  .diet-text {
    width: 100%;
  }

  #testimony-gallery-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fdf2e9;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #testimonies {
    flex-direction: column;
    /* width: 100%; */
  }

  #testimony {
    width: 80%;
    margin: auto;
  }

  #testimony .testimony {
    width: 100%;
  }

  #gallery {
    width: 90%;
    /* height: 600px; */
    margin: auto;
    margin-top: 60px;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
  }

  .img {
    /* border: 1px solid red; */
    overflow: hidden;
    width: 23%;
    margin-top: 10px;
    /* height: 25%; */
  }

  /* .img img {
    width: 150px;
    height: 150px;
    transition: all 0.3s;
  } */

  .img img {
    width: 160px;
    height: 160px;
  }

  #pricing {
    width: 100%;
    margin-top: 30px;
  }

  div.pricing-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    text-align: center;
  }

  /* #best-value {
    position: relative;
    background-color: yellow;
    padding: 10px;
    text-transform: uppercase;
    left: 120px;
   top: 15px; 
    transform: rotate(45deg);
  
     width: 100px;
    text-align: right; 
  } */

  .price-one {
    margin-bottom: 30px;
  }

  #pricing p.section-header {
    text-align: center;
  }

  p.tax-details {
    color: #6f6f6f;
    width: 80%;
    text-align: center;
    margin: 40px auto;
  }

  #what-we-offer {
    display: flex;
    width: 90%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    margin: auto;
  }

  div.why-us {
    width: 100%;
    padding: 10px;
  }

  p.reason-header {
    margin-bottom: 10px;
  }

  #sign-up-form {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;

    margin: 80px auto;

    background-color: #fe9f4b;
    border-radius: 15px;
  }

  #form-part {
    width: 100%;
    /* height: 50%; */
    padding: 50px;
  }

  form {
    width: fit-content;
    margin: auto;
  }

  #form-image {
    width: 100%;
    opacity: 1;
    /* height: 50%; */
  }

  #first-line {
    display: flex;
    flex-direction: column;
  }

  .name-email {
    width: 250px;
  }
  #second-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #name-part,
  #select-option {
    margin-bottom: 20px;
  }
  /*
  #option-select {
    width: 250px;
    height: 40px;
  }

  #form-sign-up-btn {
    width: 250px;
   
  } */

  #image-part {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #eee;
    justify-content: space-around;
    /* align-items: center; */
    padding: 60px 0;
    line-height: 1;
    color: #555;
    font-weight: 400;
    margin: auto;
  }

  #left-footer-part {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
  }

  #right-footer-part {
    display: flex;
    /* justify-content: space-around; */
    margin: auto;
    width: 90%;
  }

  .right-footer-details {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  #gallery {
    width: 90%;
    /* height: 600px; */
    margin: auto;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
  }

  .img {
    /* border: 1px solid red; */
    overflow: hidden;
    width: 49.2%;
    margin: 1px 1px;
    /* height: 30%; */
  }

  .img img {
    width: 100%;
    height: 100%;
    /* transition: all 0.3s; */
  }

  /* .img img:hover {
    width: 105%;
    height: 105%;
  } */

  .testimony p {
    color: #888;
    font-weight: 200;
    line-height: 1.3;
    letter-spacing: 0.3px;
  }
}

@media screen and (max-width: 400px) {
  #hyperlink {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
  }

  #headline {
    width: 100%;
    text-align: center;
  }

  .step-image {
    width: 80%;
  }

  .veggie-details {
    text-align: center;
  }

  #recipes-link {
    width: 137px;
  }

  #testimony > p {
    text-align: center;
  }

  #testimony > h1 {
    width: 100%;
    text-align: center;
  }

  #gallery {
    width: 100%;
    flex-wrap: wrap;
  }

  #form-image {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #form-part {
    padding: 10px;
  }

  .name-email {
    width: 100%;
  }

  #option-select {
    width: 100%;
    padding: 0.5px;
  }

  #form-sign-up-btn {
    width: 100%;
    margin: auto;
  }

  .left-footer-details:first-of-type {
    width: 100%;
  }

  .left-footer-details:last-of-type {
    width: 50%;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 300px) {
  input.SEW {
    margin-left: -27px;
  }
}
